= form_with(model: post, local: true) do |form|
  - if post.errors.any?
    #error_explanation
      %h2
        = pluralize(post.errors.count, "error")
        prohibited this post from being saved:
      %ul
        - post.errors.full_messages.each do |message|
          %li= message
  .field
    = form.label :caption
    = form.text_field :caption
  .field
    = form.label :rating
    = form.number_field :rating
  .field
    = form.label :location
    = form.text_field :location
  .field
    = form.label :time
    = form.text_field :time
  .field
    = form.label :tags
    = form.text_area :tags
  .actions
    = form.submit