%form-container
  = form_with(model: post, local: true) do |form|
    .field
      = form.label :caption
      = form.text_field :caption
    .field
      = form.label :rating
      = form.number_field :rating
    .field
      = form.label :location
      = form.text_field :location
    .field
      = form.label :time
      = form.text_field :time
    .field
      = form.label :tags
      = form.text_area :tags
    .field
      =form.label :image, "Image"
      =form.file_field :image, accept: "image/png,image/gif,image/jpeg"

    .field
      = form.submit "Create Post"