%form-container
  = form_with(model: post, local: true,  html: { class: 'directUpload',data: { 'form-data' => (@s3_direct_post.fields), 'url' => @s3_direct_post.url, 'host' => URI.parse(@s3_direct_post.url).host }}) do |form|
    .field
      = form.label :caption
      = form.text_field :caption, required: true
    .field
      = form.label :rating
      = form.number_field :rating, min: 0, max: 5, required: true
    .field
      = form.label :location
      = form.select :location, ['Coop',"Donovan's Pub",'Frank','Library Cafe'], require: true
    .field
      = form.label :time
      = form.select :time, ['Breakfast', 'Lunch','Dinner','Snack'], require: true
    .field
      = form.label :tags
      = form.text_field :tags, required: true
    .field
      =form.label :image, "Image"
      =form.file_field :image_url

    .field
      = form.submit "Create Post"