%form
  %fieldset
    %legend 
    .form-group.row
  = form_with(model: post, local: true) do |form|
    .form-group
      = form.label :caption
      = form.text_field :caption
    .form-group
      = form.label :rating
      = form.number_field :rating
    .form-group
      = form.label :location
      = form.text_field :location
    .form-group
      = form.label :time
      = form.text_field :time
    .form-group
      = form.label :tags
      = form.text_area :tags
    .form-group
      =form.label :image, "Image"
      =form.file_field :image, accept: "image/png,image/gif,image/jpeg"

    .actions
      = form.submit "Create Post"