#main.container
  %link{:crossorigin => "anonymous", :href => "https://use.fontawesome.com/releases/v5.8.1/css/all.css", :integrity => "sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf", :rel => "stylesheet"}/
  %link{:href => "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstra", :rel => "stylesheet"}/
  -# =form_tag posts_path, :method => :get do
  -#   = label_tag :search_term, "Search"
  -#   = text_field_tag :search_term
    
  %p
    -@posts.each do |post|
      .card.mb-3.posty
        .card-body
        -# %p.image= image_tag post.image.attached? ? post.image.variant(resize: "100x100^") : 'images/noimg.jpeg'
        %p.card-text.titley= link_to("#{post.caption}", post_path(post), method: :get)
        %h6.card-subtitle.mb-2.text-muted.stars= "Rating: #{post.rating}"
        - (1..post.rating).each do |s|
          .stars.fas.fa-star
        %h6.card-subtitle.mb-2.text-muted= "Location: #{post.location}"
        %h6.card-subtitle.mb-2.text-muted= "Time: #{post.time}"
        %h6.card-subtitle.mb-2.text-muted= "Tags: #{post.tags}"
        .card-body
          %a.card-link= link_to("Delete Post", post_path(post), method: :delete)
        .card-footer.text-muted
          %p.time= "#{post.time}"
        %p.comment Comments
        -post.comments.each do |c|
          %p #{c.username}: #{c.body}
        %p.comment Add a comment:
        =simple_form_for([post, post.comments.build]) do |f|
          = f.input :username
          = f.input :body
          = f.button :submit
    %br
      %br
    // Floating Button
    %a.float{:href => new_post_path}
      %i.fas.fa-plus.my-float



    /link_to 'New Post', new_post_path

    
    -# .post
    -# %h2 TITLE HEADING
    -# %h5 Title description, Dec 7, 2017
    -# .fakeimg{:style => "height:200px;"} Image
    -# %p Some text..
    -# .post
    -# %h2 TITLE HEADING
    -# %h5 Title description, Sep 2, 2017
    -# .fakeimg{:style => "height:200px;"} Image
    -# %p Some text..
    





    
  -# %table
  -#   %thead
  -#     %tr
  -#       %th Caption
  -#       %th Rating
  -#       %th Location
  -#       %th Time
  -#       %th Tags
  -#       %th{colspan: "3"}
  -#   %tbody
  -#     - @posts.each do |post|
  -#       %tr
  -#         %td= post.caption
  -#         %td= post.rating
  -#         %td= post.location
  -#         %td= post.time
  -#         %td= post.tags
  -#         %td= link_to 'Show', post
  -#         %td= link_to 'Edit', edit_post_path(post)
  -#         %td= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }
  -# %br/
  