%br
%br
.left_show
  %table.table.table-hover
    %tbody
      %tr.table-active
        %th{:scope => "row"} Caption
        %td= @post.caption
      %tr.table-active
        %th{:scope => "row"} Rating
        %td= @post.rating
      %tr.table-active
        %th{:scope => "row"} Location
        %td= @post.location
      %tr.table-active
        %th{:scope => "row"} Time
        %td= @post.time
      %tr.table-active
        %th{:scope => "row"} User
        %td= @post.user.username
      %tr.table-active
        %th{:scope => "row"} Tags
        %td= @post.tags  
.right_show
  = @post.image_url
  
  - if @post.image_url
    %img.imagey{ src: @post.image_url }
  - else
    %img.imagey{ src: "https://s3.us-east-2.amazonaws.com/frankly-food1/uploads/noimg.jpeg" }
%br
%button.btn.btn-outline-secondary{:type => "button"}= link_to 'Edit', edit_post_path
%button.btn.btn-outline-secondary{:type => "button"}= link_to 'Delete', post_path, method: :delete
%button.btn.btn-outline-secondary{:type => "button"}= link_to 'Back', posts_path