%p
  #notice= notice
  %p
    %strong Caption:
    = @post.caption
  %p
    %strong Rating:
    = @post.rating
  %p
    %strong Image:
    %br
    - if @post.image_url
      %img.imagey{ src: @post.image_url }
    - else
      %img.imagey{ src: "https://s3.us-east-2.amazonaws.com/frankly-food1/uploads/noimg.jpeg" }
  %p
    %strong Location:
    = @post.location
  %p
    %strong Time:
    = @post.time
  %p 
    %strong User: 
    = @post.user.username
  %p
    %strong Tags:
    = @post.tags
  %button.btn.btn-outline-secondary{:type => "button"}= link_to 'Edit', edit_post_path
  %button.btn.btn-outline-secondary{:type => "button"}= link_to 'Delete', post_path, method: :delete
  %button.btn.btn-outline-secondary{:type => "button"}= link_to 'Back', posts_path