!!! 5
%html{ lang: 'en' }
  %head
    %meta{ charset: 'utf-8' }
    %title Frank.ly
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'

  %body
    // Fixed navigation bar
    %nav.navbar.navbar-expand-lg.navbar-light.bg-light.sticky-top
      %button.navbar-toggler{"aria-controls" => "navbarColor03", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarColor03", "data-toggle" => "collapse", :type => "button"}
        %span.navbar-toggler-icon
      #navbarColor03.collapse.navbar-collapse
        %ul.navbar-nav.mr-auto
          %li.nav-item
            %a.nav-link{:href => posts_path} Frank.ly
          %li.nav-item
            %a.nav-link{:href => "#"} Features
          %li.nav-item
            %a.nav-link{:href => "#"} Pricing
          %li.nav-item
            %a.nav-link{:href => "#"} About
        %form.form-inline.my-2.my-lg-0
          %input.form-control.mr-sm-2{:placeholder => "#search_tag", :type => "text", :name => "search"}/
          %button.btn.btn-secondary.my-2.my-sm-0{:type => "submit"} Search
    #header 
      -# %h1 Frank.ly
      - if flash[:notice]
        %p{:class => 'alert alert-info', :role => 'alert'}= flash[:notice]
      - if flash[:warning]
        %p{:class => 'alert alert-danger', :role => 'alert'}= flash[:warning]
    = yield
